body{
    text-align: center;
    background-color: blueviolet;
    color: rgb(234, 234, 39);
}
*{
    margin: 0;
    padding: 0;
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.container{
    height: 70vh;
    display: flex;    
    justify-content: center;
    align-content:center;
}
.box{
    height: 18vmin;
    width: 18vmin;
    color: rgb(239, 243, 242);
    background-color: #ef2424;
    font-size: 64px;
    border-style: none;
    border-radius: 10px;
}
#Reset{
    padding: 10px;
    margin: 2px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(61, 233, 61);
}
.hide{
    display: none;
}
#msg{
    font-size: 36px;
}
#newgame{
    font-size: 18px;
    padding: 8px;
}